@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  overflow-x: hidden;
}
h3{
  @apply text-[20px] md:text-[22px] lg:text-[28px] font-medium;
}

h2{
  @apply text-[24px] sm:text-[26px] md:text-[30px] lg:text-[36px];
}
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    display: flex;
  }
  
  ::placeholder {
    @apply text-[18px];
    color: #757575;
    opacity: 1;
    font-weight: 300;

  }
  
  .search-input {
    color: #212121;
    vertical-align: middle;
    line-height: 2;
    padding: 5px 0 5px 20px;
    border-left:  1px solid #CFCFCF;
    border-bottom:  1px solid #CFCFCF;
    border-top:  1px solid #CFCFCF;
    background-color: white;
    border-radius: 0;
  }
  
  .search-submit {
    color: #41004C;
    vertical-align: middle;
    padding: 5px 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-right:  1px solid #CFCFCF;
    border-bottom:  1px solid #CFCFCF;
    border-top:  1px solid #CFCFCF;
  }
  .gradient-btn{
    background: linear-gradient(90deg, #41004C 0%, #15002A 100%);
  }

 #header{
  position: sticky;
  background-color: white;
  z-index: 2;
 }

/* Category bar */


 .wrapper{
    position: relative;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .nav-links{
    display: inline-flex;
    gap: 2em;

  }
  .nav-links li{
    list-style: none;

  }
  .nav-links li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .nav-links li a:hover{
    color: #75008a;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
  visibility: hidden;
  }
  .mega-box .content{
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }

  .wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: -100%;
      background: white;
      display: block;
      padding: 50px 5vw;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
      z-index: 8;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box,
    #showMegaBooks:checked ~ .mega-box,
    #showMegaDorms:checked ~ .mega-box,
    #showMegaClothing:checked ~ .mega-box,
    #showMegaBikes:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
    }
    .nav-links .mobile-item:hover{
      font-weight: 600;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  .wrapper input[type=radio],.wrapper input[type=checkbox]{
    display: none;
  }
  input[type=search]:focus{
    outline: none;
  }





  .logoutbtn{
    background-color: #f0f0f0;
    color: red;
    transition: 0.2s ease-out;
  }
  .logoutbtn:hover{
    background-color: red;
    color: white;
  }


/* Hide the profile menu by default */
.profileMenu {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  visibility: hidden;
}

/* Show the profile menu when the relative div is hovered */
.relative:hover .profileMenu {
  opacity: 1;
  visibility: visible;

}
.profileList ul li a{
  transition: 0.2s ease-out;
  cursor: pointer;
}
.profileList ul li a:hover{
  margin-left: 0.5em;
}




.login-flex{
  background-image: url(/public/image.png);
  background-size: cover;
  
}
/* Login Page */
.LoginPage{
  @apply px-[7vw] lg:px-[10vw] py-[10vh] md:py-[15vh] md:min-h-screen;

}


.signupform label, .signupform input{
  @apply text-[16px] md:text-[18px] lg:text-[20px] my-[0.8em];
}
.signupform input[type=text], input[type=email], input[type=password]{
  @apply border-[#CFCFCF] border-[1px] py-[0.5em] w-full px-[1em];
}
.signupform input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
  @apply outline-none border-[#75008a] border-[2px];
}
.solidBtn{
  @apply bg-primary text-white py-[0.3em] px-[1em] text-[18px] md:text-[20px] lg:text-[22px] border-[2px] border-[#41004C];
}
.notSolidBtn{
  @apply text-[#41004C] py-[0.3em] px-[1em] text-[18px] md:text-[20px] lg:text-[22px] border-[2px] border-[#41004C];
}

.loginform label, .loginform input{
  @apply text-[16px] md:text-[18px] lg:text-[20px] my-[0.8em] text-white;
}
.loginform input[type=email], input[type=password]{
  @apply border-[#CFCFCF] border-[1px] py-[0.5em] w-full px-[1em] bg-white bg-opacity-0;
}
.loginform input[type=email]:focus, input[type=password]:focus{
  @apply outline-none border-[2px] border-[#fff];
}

.tb-container img {
  width: 200px;
  height: auto;
  display: none;
  margin-bottom: 30px;
}
.tb-container input {
  display: none;
}
.tb-container label {

  cursor: pointer;
  align-items: center;
  margin:0 auto;
}

.tb-containerr input {
  display: none;
}
.tb-containerr label {

  cursor: pointer;
  align-items: center;
  margin:0 auto;
}

/* Add these styles to your CSS file */
.stepdiv {
  transition: 0.5s ease-in-out;
}

.step-enter {
  opacity: 0;
}

.step-enter-active {
  opacity: 1;
}

.step-exit {
  opacity: 1;
  transform: translateX(0);
}

.step-exit-active {
  opacity: 0;
}

.post-page{
  @apply w-[90%] md:w-3/5 mx-auto;
}
 .post-page input, .post-page textarea, .post-page select{
  @apply text-[16px] md:text-[18px] lg:text-[20px];
}
.post-page input[type=text], .post-page input[type=month], .post-page input[type=password],.post-page input[type=number], .post-page textarea, .post-page select{
  @apply border-[#CFCFCF] border-[1px] py-[0.5em] w-full px-[1em] my-[1em] bg-[#fff] rounded-[0];
}
.post-page input:focus, select:focus, textarea:focus{
  @apply outline-none border-[#75008a] border-[2px];
}


select.minimal {
  
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), 
                    linear-gradient(135deg, gray 50%, transparent 50%), 
                    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 23px) calc(1em + 2px), 
                      calc(100% - 16px) calc(1em + 2px),
                      calc(100% - 2.5em) 0.5em;
  background-size: 7px 7px, 7px 7px, 1px 1.5em;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;





  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.post-page button:disabled{
  background-color: #d0d0d0; /* Gray background */
  color: #fff; /* Darker gray text */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
  border: 2px solid #d0d0d0;
}


.postForm{
  -webkit-box-shadow: 0px 0px 16px 1px rgba(173,173,173,1);
-moz-box-shadow: 0px 0px 16px 1px rgba(173,173,173,1);
box-shadow: 0px 0px 12px 1px rgb(207, 207, 207);
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.itemCard{
  background: #FFFFFF;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.itemCard:hover{
  transform: scale(102%);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);

}



/* Full-screen message container */
.submission-message {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

/* Show the message when form is submitted */
.submission-message.visible {
  opacity: 1;
  visibility: visible;
}



/* Animation for form disappearance */
@keyframes formDisappear {
  0% {
    opacity: 1;
    transform: scale(1);

  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Animation for full-screen message appearance */
@keyframes messageAppear {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply animation to form when disappearing */
.form-disappear {
  animation: formDisappear 0.3s ease-in-out forwards;
}

/* Apply animation to full-screen message when appearing */
.submission-message.visible {
  animation: messageAppear 0.3s ease-in ;
}